/*styles principaux */
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  

  /* entete */


.hb-entete {
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px white;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.hb-logo {
	width: 250px;
}


/* pricipaux */

.layout {
	display: flex;
	flex-direction: row;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
}


.hb-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.hb-img {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.hb-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	position: relative;
	
}


.jourj {
	position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #FF0099;
	color: white;
	padding: 15px;
	right: 0;
	top: 0;
	font-weight: 500;	
}


.hb_legende
{
	font-style: italic;
}