/*styles principaux */
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  

  /* entete */


.he-entete {
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px white;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.he-logo {
	width: 250px;
}


/* pricipaux */

.layout {
	display: flex;
	flex-direction: row;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	
}


.he-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5em auto;
}


.he-img {
	width: 20em;
	border-radius: 10px;
	object-fit: cover;
}

.he-item {
	margin: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	
}


.bulle {
	opacity: 0.9;
	position: absolute;
	border-radius: 10px 10px 10px 0;
	background-color: red;
	color: white;
	padding: 10px;
	right: 0;
	top: 0;
	font-weight: 500;	
}


.he-legende
{
	font-style: italic;
}

/* ligne editoriale */

.he-ligne
{
	width: 60em;
    max-width: 100%;
	margin: 1em auto;
	text-align: justify;
}

/* nos valeurs */

.he-valeurs
{
	width: 16em;
    max-width: 100%;
	margin: 1em auto;
}

.he-valeurs ul
{
	text-align: left;
}

.he-valeurs strong
{
	color: pink;
}

/* autres */

.lig-merci
{
	text-align: center;
	font-style: italic;
}
