/* STYLES DE BASE */
html
{
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
  font-family: Century Gothic, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   color: rgba(255, 255, 255, 0.9);
   background-color: black;
}

img, main, body
{
    width: 100%;
    max-width: 100%;
}

a
{
    text-decoration: none;
    cursor: pointer;
    color: pink;
}
h1
{
    color: pink;
}
a:hover
{
    color: #F77;
}

.art-ul
{
    text-align: left;
    list-style: disc;
    margin-left: 1.5em;
}

button
{
    cursor: pointer;
    outline: none;
}

.copyrights
{
    font-size: small;
}

/* a propos de nous */

.aproposdenous
{
    background-color: rgba(200, 200, 200, 0.9);
    position: absolute;
    top: 6.25em;
    width: 100%;
    color: black;
    padding: 1.25em 6.25em;
    opacity: 0;
    pointer-events: none; /* all */
    transition: all 1s ease-in-out;
}

.apropos:active
{
    background-color: pink;
}


/* Un article */

.art-img img
{
    border-radius: 1em;
}

.art-contain
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0.6em;
}
.art-go
{
    background-color: rgba(0, 0, 0, 0);
    padding: 0.75em;
    margin: 1.2em;
    border: #F9C 0.05em solid;
    border-radius: 0.45em;
    font-size: 0.82em;
    transition: all .4s ease-in-out;
}

.art-go:hover
{
    background-color: rgba(255, 153, 204, .07);
    box-shadow: 0 0.37em 0.37em 0 rgba(255, 153, 204, 0.26),
				0 0.6em 1.2em 0 rgba(255, 153, 204, 0.19);
		}


.art-go:focus
{
    opacity: .7;
}

.art-go a
{
    color: #FAD;
}

/* Plus de livres */

.plus
{
    border-top: pink 0.5px solid;
    width: 31em;
    max-width: 100%;
    margin: 1.2em auto;
    padding: 1em;
}


/* pied */

.lmj-footer {
	background-color: rgb(150, 150, 150);
	padding: 2em;
    margin-top: 0.6em;
	border-top: solid 0.19em white;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
    color: black;
}

.footer-elem {
	margin-bottom: 0.6em;
}
.icones
{
	width: 1.5em;
}
.footer-elem a:focus
{
	opacity: .7;
}

/* MediaQueries */

@media screen and (max-width: 840px)
{
    .aproposdenous
    {
        padding: 0.6em 3.12em;
    }
    .art-contain
     {        
        grid-template-columns: 1fr;
      }
    }


    @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }